@font-face { font-family: "Droid Serif"; src: url("../fonts/DroidSerif-Bold.ttf") format("ttf"), url("../fonts/DroidSerif-BoldItalic.ttf") format("ttf"), url("../fonts/DroidSerif-Italic.ttf") format("ttf"), url("../fonts/DroidSerif-Regular.ttf") format("ttf"); }

/* VARIABLES */
/* REUSABLE CLASSES */
.container { max-width: 940px; margin: 0 auto; }

.main-title { font-family: "Montserrat", sans-serif; font-size: 2.5rem; text-transform: uppercase; padding-top: 80px; margin: 0; }

.main-subtitle { font-family: "Droid Serif", serif; font-style: italic; font-size: 1rem; margin-top: 10px; padding-bottom: 60px; color: #777777; }

/* GRID */
.row::before, .row::after { content: ""; display: table; clear: both; }

[class*="col-"] { float: left; padding: 10px; min-height: 1px; }

.col-1 { width: 8.33333%; }

.col-2 { width: 16.66667%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33333%; }

.col-5 { width: 41.66667%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33333%; }

.col-8 { width: 66.66667%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33333%; }

.col-11 { width: 91.66667%; }

.col-12 { width: 100%; }

.col-offset-1 { margin-left: 8.33333%; }

.col-offset-2 { margin-left: 16.66667%; }

.col-offset-3 { margin-left: 25%; }

.col-offset-4 { margin-left: 33.33333%; }

.col-offset-5 { margin-left: 41.66667%; }

.col-offset-6 { margin-left: 50%; }

.col-offset-7 { margin-left: 58.33333%; }

.col-offset-8 { margin-left: 66.66667%; }

.col-offset-9 { margin-left: 75%; }

.col-offset-10 { margin-left: 83.33333%; }

.col-offset-11 { margin-left: 91.66667%; }

.col-offset-12 { margin-left: 100%; }

/* GLOBAL STYLES */
* { box-sizing: border-box; }

body { margin: 0; }

/* NAV */
.header__wrapper { background-image: url("../images/hero.png"); background-size: cover; background-position: center; height: 100vh; }

.header { overflow: auto; }

.header__logo { display: block; float: left; padding: 15px 0; margin-top: 20px; }

.header__list { margin: 0; margin-top: 20px; padding: 0; list-style-type: none; float: right; }

.header__list-item { display: inline-block; }

.header__link { font-family: "Montserrat", sans-serif; font-size: 0.875rem; line-height: 60px; padding: 0 20px; display: block; color: #FFF; text-decoration: none; text-transform: uppercase; }

.header__link:hover { color: #fed136; }

/* HERO */
.hero__slogan { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; text-align: center; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 100%; margin-top: 25vh; }

.hero__title { font-family: "Droid Serif", serif; font-style: italic; font-weight: normal; font-size: 2.5rem; color: #FFF; text-transform: capitalize; }

.hero__subtitle { font-family: "Montserrat", sans-serif; font-size: 4.6875rem; color: #FFF; text-transform: uppercase; margin-top: 15px; margin-bottom: 75px; }

.hero__button { background-color: #fed136; color: #FFF; font-family: "Montserrat", sans-serif; font-weight: bold; font-size: 1.125rem; text-transform: uppercase; padding: 21.5px 45px; border-radius: 5px; border: none; transition: 0.75s; }

.hero__button:hover { background-color: #F7F7F7; color: #fed136; cursor: pointer; }

/* SERVICES */
.services { text-align: center; padding-bottom: 80px; }

.services__button { width: 80px; height: 80px; border-radius: 50%; border: 3px solid #fed136; font-size: 2.5rem; background-color: #fff; color: #fed136; transition: 0.75s; }

.services__button:hover { background-color: #fed136; color: #fff; border-radius: 25%; }

.services__title { font-family: "Montserrat", sans-serif; font-size: 1.125rem; margin-bottom: 15px; }

.services__description { font-family: "Roboto Slab", serif; font-size: 0.875rem; color: #777777; }

/* PORTFOLIO */
.portfolio { text-align: center; background-color: #F7F7F7; padding-bottom: 80px; }

.portfolio__wrapper { background-color: #fff; height: 100%; line-height: 0; }

.portfolio__image { width: 100%; }

.portfolio__title { font-size: 1.125rem; font-family: "Montserrat", sans-serif; text-transform: capitalize; margin-top: 35px; }

.portfolio__description { font-family: "Droid Serif", serif; font-size: 0.875rem; font-style: italic; text-transform: capitalize; margin-bottom: 30px; color: #777777; }

/*ABOUT US*/
.about-us { text-align: center; padding-bottom: 80px; }

.about-us__title-left, .about-us__title-right { font-family: "Montserrat", sans-serif; font-size: 1.125rem; text-transform: uppercase; text-align: right; margin-top: 10px; margin-bottom: 0; }

.about-us__subtitle-left, .about-us__subtitle-right { font-family: "Montserrat", sans-serif; font-size: 1.125rem; text-transform: capitalize; text-align: right; margin-top: 0; margin-bottom: 0; }

.about-us__description-left, .about-us__description-right { font-family: "Roboto Slab", serif; font-size: 0.875rem; text-align: right; color: #777777; }

.about-us__title-right { text-align: left; }

.about-us__subtitle-right { text-align: left; }

.about-us__description-right { text-align: left; }

.about-us__photo { margin-bottom: 80px; }

.about-us__center-column { position: relative; }

.about-us__center-column::after { content: ''; position: absolute; height: 110px; width: 3px; background-color: #f1f1f1; top: 86%; left: 50%; transform: translate(-50%, -50%); }

.about-us__last-row { position: relative; }

.about-us__span { position: absolute; font-size: 1.125rem; text-transform: uppercase; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #FFF; font-weight: bold; line-height: 30px; }

/* TEAM */
.team { text-align: center; background-color: #F7F7F7; padding-bottom: 60px; }

.team__photo { border: 8px solid #FFF; border-radius: 50%; }

.team__name { font-family: "Montserrat", sans-serif; font-size: 1rem; font-weight: bold; text-transform: capitalize; margin-bottom: 0; }

.team__position { font-family: "Roboto Slab", serif; font-size: 0.875rem; color: #777777; text-transform: capitalize; margin-top: 0; }

.team__btn, .footer__btn { cursor: pointer; font-size: 20px; border: 3px solid #000; border-radius: 50%; padding: 15px; width: 20px; height: 20px; background-color: #FFF; transition: 0.5s; }

.team__icon { top: 50%; left: 50%; transform: translate(-50%, -50%); }

.team__btn--twitter:hover, .footer__btn--twitter:hover { background-color: #4099FF; border: 3px solid #4099FF; color: #FFF; }

.team__btn--facebook:hover, .footer__btn--facebook:hover { background-color: #3B5998; border: 3px solid #3B5998; color: #FFF; }

.team__btn--google-plus:hover, .footer__btn--google-plus:hover { background-color: #DB5A3C; border: 3px solid #DB5A3C; color: #FFF; }

.team__btn--pinterest:hover, .footer__btn--pinterest:hover { background-color: #cb2028; border: 3px solid #cb2028; color: #FFF; }

.team__description { max-width: 600px; text-align: center; margin: 20px auto; font-family: "Roboto Slab", serif; font-size: 1rem; color: #777777; margin-bottom: 30px; }

/* LOGOS */
.logos__wrapper { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; padding: 60px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

/* CONTACT US*/
.contact-us { text-align: center; padding-bottom: 80px; background-color: #222; background-image: url("../images/Map-image.png"); background-repeat: no-repeat; background-position: right; }

.contact-us__main-title { color: #FFF; }

.contact-us__field, .contact-us__message-field { width: 100%; padding: 15.5px; margin-bottom: 28px; font-family: "Montserrat", sans-serif; font-size: 0.875rem; font-weight: bold; color: #BBBBBB; border-radius: 5px; border: none; }

.contact-us__field:-ms-input-placeholder, .contact-us__message-field:-ms-input-placeholder { color: #BBBBBB; }

.contact-us__field::placeholder, .contact-us__message-field::placeholder { color: #BBBBBB; }

.contact-us__message-field { resize: none; padding-bottom: 25px; }

.contact-us__submit-button { background-color: #fed136; color: #FFF; font-family: "Montserrat", sans-serif; font-weight: bold; font-size: 1.125rem; text-transform: uppercase; padding: 21.5px 45px; border-radius: 5px; border: none; transition: 0.75s; }

.contact-us__submit-button:hover { background-color: #F7F7F7; color: #fed136; cursor: pointer; }

/* FOOTER */
.footer { padding: 10px; }

.footer__text { font-family: "Montserrat", sans-serif; font-size: 0.875rem; }

.footer__buttons-wrapper { padding-top: 15px; }

.footer__btn { background-color: #000; }

.footer__icon { top: 50%; left: 50%; transform: translate(-50%, -50%); color: #FFF; }
