/*VARIABLES*/
/*MIXINS*/
/*GRID*/
.row::before, .row::after { content: ""; display: table; clear: both; }

[class*="col-"] { float: left; padding: 10px; min-height: 1px; }

.col-1 { width: 8.33333%; }

.col-2 { width: 16.66667%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33333%; }

.col-5 { width: 41.66667%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33333%; }

.col-8 { width: 66.66667%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33333%; }

.col-11 { width: 91.66667%; }

.col-12 { width: 100%; }

/*GLOBAL STYLES*/
* { box-sizing: border-box; }

body { margin: 0; }

/*section > .container {
    margin: 100px auto;
    text-align: center;
}*/
/*NAV*/
.header { overflow: auto; }

.header__nav { max-width: 940px; margin: 0 auto; }

.header__logo { display: block; float: left; padding: 15px 0; margin-top: 20px; }

.header__list { margin: 0; margin-top: 20px; padding: 0; list-style-type: none; float: right; }

.header__list-item { display: inline-block; }

.header__link { font-family: "Montserrat", sans-serif; line-height: 60px; padding: 0 20px; display: block; color: #FFF; text-decoration: none; text-transform: uppercase; }

.header__link:hover { color: #fed136; }

/*HERO*/
.hero { background-image: url("../images/hero.png"); opacity: rgba(0, 0, 0, 0.8); background-size: cover; height: 100vh; position: relative; bottom: 80px; z-index: -1; }

.hero__slogan { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; text-align: center; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 100%; }

.hero__title { font-family: "Lora", serif; font-style: italic; font-size: 2.5rem; color: #FFF; text-transform: capitalize; }

.hero__subtitle { font-family: "Montserrat", sans-serif; font-size: 4.6875rem; color: #FFF; text-transform: uppercase; margin-top: 15px; margin-bottom: 75px; }

.hero__button { background-color: #fed136; color: #FFF; font-family: "Montserrat", sans-serif; font-weight: bold; font-size: 1.125rem; text-transform: uppercase; height: 65px; width: 240px; border-radius: 5px; border: none; }
