@font-face {
    font-family: "Droid Serif";
    src: url('../fonts/DroidSerif-Bold.ttf') format("ttf"),
         url('../fonts/DroidSerif-BoldItalic.ttf') format("ttf"),
         url('../fonts/DroidSerif-Italic.ttf') format("ttf"),
         url('../fonts/DroidSerif-Regular.ttf') format("ttf");
  }

/* VARIABLES */
$color: #fed136;
$font-color: #FFF;
$font-color-second: #777777;
$background-color: #F7F7F7;
$hover-transparent: rgba(0, 0, 0, 0.8);

$font: 'Montserrat', sans-serif;
$font-second: 'Droid Serif', serif;
$font-third: 'Roboto Slab', serif;
$font-size-base: 1rem;
$font-size-1: $font-size-base * 4.6875; //75px
$font-size-2: $font-size-base * 2.5; //40px
$font-size-3: $font-size-base * 2; //32px
$font-size-4: $font-size-base * 1.5; //24px
$font-size-5: $font-size-base * 1.125; //18px
$font-size-6: $font-size-base * 1; //16px
$font-size-7: $font-size-base * 0.875; //14px

$grid-columns: 12;
$grid-offset-columns: 12;

/* MIXINS */
@mixin breakpoint($point) {
    @if $point == sm {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point == lg {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point == xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

/* REUSABLE CLASSES */
.container {
    max-width: 940px;
    margin: 0 auto;
}

.main-title {
    font-family: $font;
    font-size: $font-size-2;
    text-transform: uppercase;
    padding-top: 80px;
    margin: 0;
    @include breakpoint (sm) {
        padding-top: 40px;
        font-size: 36px;
    }
}

.main-subtitle {
    font-family: $font-second;
    font-style: italic;
    font-size: $font-size-6;
    margin-top: 10px;
    padding-bottom: 60px;
    color: $font-color-second;
    @include breakpoint (sm) {
        padding-bottom: 30px;
    }
}

/* GRID */
.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 10px;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }

@for $i from 1 through $grid-offset-columns {
    .col-offset-#{$i} {
        margin-left: percentage($i / $grid-offset-columns);
    }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
      .col-#{$prefix}-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
      }
    }
}

@media(max-width: 767px) {
    @include grid('sm');
}
  
@media(min-width: 768px) {
    @include grid('md');
}
  
@media(min-width: 992px) {
    @include grid('lg');
}
  
@media(min-width: 1200px) {
    @include grid('xl');
}

/* GLOBAL STYLES */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* CLASS TO HIDE CONTENT (LABEL'S IN FORM) */
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* NAV */
.header__wrapper {
    background-image: url('../images/hero.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header {
    overflow: auto;

    &__nav {
        @include breakpoint (sm) {
            text-align: center;
        }
    }
    &__logo {
        display: block;
        float: left;
        padding: 15px 0;
        margin-top: 20px;
        @include breakpoint (sm) {
            margin-top: 0;
            float: none;
            display: inline-block;
        }
    }

    &__list {
        margin: 0;
        margin-top: 20px;
        padding: 0;
        list-style-type: none;
        float: right;
        @include breakpoint (sm) {
            float: none;
        }
    }

    &__list-item {
        display: inline-block;
    }

    &__link {
        font-family: $font;
        font-size: $font-size-7;
        line-height: 60px;
        padding: 0 20px;
        display: block;
        color: $font-color;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: $color;
        }
    }
}

/* HERO */
.hero {
    position: relative;

    &__slogan {
        display: flex;
        flex-direction: column; 
        text-align: center;
        justify-content: center; 
        align-items: center;
        height: 100%;
        margin-top: 20vh;
        @include breakpoint (sm) {
            margin-top: 100px;
        }
    }

    &__title {
        font-family: $font-second;
        font-style: italic;
        font-weight: normal;
        font-size: $font-size-2;
        color: $font-color;
        text-transform: capitalize;
        @include breakpoint (sm) {
            font-size: $font-size-3;
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        font-family: $font;
        font-size: $font-size-1;
        color: $font-color;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 75px;
        @include breakpoint (sm) {
            margin-bottom: 30px;
            font-size: $font-size-2;
        }
    }

    &__button-wrapper {
        text-align: center;
        margin-top: 90px;
        @include breakpoint (md) {
            margin-top: 45px;
        }
        @include breakpoint (xl) {
            margin-top: 90px;
        }
    }

    &__button {
        background-color: $color;
        color: $font-color;
        font-family: $font;
        font-weight: bold;
        font-size: $font-size-5;
        text-transform: uppercase;
        padding: 21.5px 45px;
        border-radius: 5px;
        border: none;
        transition: 0.75s;
        overflow: hidden;
        outline: none;
        &:hover {
            background-color: $background-color;
            color: $color;
            cursor: pointer;
        }
    }
}

/* SERVICES */
.services {
    text-align: center;
    padding-bottom: 80px;
    @include breakpoint (sm) {
        padding-bottom: 40px;
    }

    &__icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding-top: 15px;
        border: 3px solid $color;
        font-size: $font-size-2;
        background-color: #fff;
        color: $color;
        transition: 0.75s;
    }

    &__title {
        font-family: $font;
        font-size: $font-size-5;
        margin-bottom: 15px;
        transition: 0.75s;
    }

    &__description {
        font-family: $font-third;
        font-size: $font-size-7;
        color: $font-color-second;
    }

    &__wrapper:hover {
        .services__icon {
            background-color: $color;
            color: #fff;
            border-radius: 25%;
        }
        .services__title {
            color: $color;
            transform: scale(1.1);
        }
    }

}

/* PORTFOLIO */
.portfolio {
    text-align: center;
    background-color: $background-color;
    padding-bottom: 80px;
    @include breakpoint (sm) {
        padding-bottom: 40px;
    }

    &__wrapper {
        background-color: #fff;
        height: 100%;
        line-height: 0;
    }

    &__image {
        width: 100%;
    }

    &__title {
        font-size: $font-size-5;
        font-family: $font;
        text-transform: capitalize;
        margin-top: 35px;
    }

    &__description {
        font-family: $font-second;
        font-size: $font-size-7;
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 30px;
        color: $font-color-second;
    }
}

/*ABOUT US*/
.about-us {
    text-align: center;
    padding-bottom: 80px;

    &__title-left {
        font-family: $font;
        font-size: $font-size-5;
        text-transform: uppercase;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__subtitle-left {
        font-family: $font;
        font-size: $font-size-5;
        text-transform: capitalize;
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__description-left {
        font-family: $font-third;
        font-size: $font-size-7;
        text-align: right;
        color: $font-color-second;
    }
    &__title-right {
        @extend .about-us__title-left;
        text-align: left;
    }

    &__subtitle-right {
        @extend .about-us__subtitle-left;
        text-align: left; 
    }

    &__description-right {
        @extend .about-us__description-left;
        text-align: left;
    }

    &__photo {
        margin-bottom: 80px;
    }

    &__center-column {  
        position: relative;
        &::after {
            content:'';
            position: absolute;
            height: 110px;
            width: 3px;
            background-color: #f1f1f1;
            top: 86%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include breakpoint (sm) {
                display: none;
            }
        }
    }

    &__last-row {
        position: relative;
    }

    &__span {
        position: absolute;
        font-size: $font-size-5;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        font-weight: bold;
        line-height: 30px;
    }
}

/* TEAM */

.team {
    text-align: center;
    background-color: $background-color;
    padding-bottom: 60px;

    &__photo {
        border: 8px solid #FFF;
        border-radius: 50%;
    }

    &__name {
        font-family: $font;
        font-size: $font-size-6;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    &__position {
        font-family: $font-third;
        font-size: $font-size-7;
        color: $font-color-second;
        text-transform: capitalize;
        margin-top: 0;
    }

    &__btn {
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        border: 3px solid #000;
        border-radius: 50%;
        padding-top: 6px;
        width: 40px;
        height: 40px;
        background-color: #FFF;
        transition: 0.5s;
        color: #000;
    }

    &__btn--twitter:hover {
        background-color: #4099FF;
        border: 3px solid #4099FF;
        color: #FFF;
    }

    &__btn--facebook:hover {
        background-color: #3B5998;
        border: 3px solid #3B5998;
        color: #FFF;
    }

    &__btn--google-plus:hover {
        background-color: #DB5A3C;
        border: 3px solid #DB5A3C;
        color: #FFF;
    }

    &__btn--pinterest:hover {
        background-color: #cb2028;
        border: 3px solid #cb2028;
        color: #FFF;
    }

    &__description {
        max-width: 600px;
        text-align: center;
        margin: 20px auto;
        font-family: $font-third;
        font-size: $font-size-6;
        color: $font-color-second;
        margin-bottom: 30px;
    }
}

/* LOGOS */

.logos__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    flex-wrap: wrap;
}

/* CONTACT US*/

.contact-us {
    text-align: center;
    padding-bottom: 80px;
    background-color: #222;
    background-image: url('../images/Map-image.png');
    background-repeat: no-repeat;
    background-position: right;

    &__main-title {
        color: #FFF;
    }

    &__field {
        width: 100%;
        padding: 15.5px;
        margin-bottom: 28px;
        font-family: $font;
        font-size: $font-size-7;
        font-weight: bold;
        color: #BBBBBB;
        border-radius: 5px;
        border: none;
        &::placeholder {
            color: #BBBBBB;
        }
    }

    &__message-field {
        @extend .contact-us__field;
        resize: none;
        padding-bottom: 25px;
    }

    &__submit-button {
        @extend .hero__button;
    }
}

/* FOOTER */

.footer {
    padding: 10px;

    &__text {
       font-family: $font;
       font-size: $font-size-7; 
    }

    &__buttons-wrapper {
        padding-top: 15px;
        margin-left: 60px;
    }

    &__btn {
        @extend .team__btn;
        background-color: #000;
        text-align: center;
        margin-right: 5px;
    }

    &__icon {
        color:#FFF;
    }

    &__btn--twitter:hover {
        @extend .team__btn--twitter;
    }

    &__btn--facebook:hover {
        @extend .team__btn--facebook;
    }

    &__btn--google-plus:hover {
        @extend .team__btn--google-plus;
    }

    &__btn--pinterest:hover {
        @extend .team__btn--pinterest;
    }
}